.git
.gitignore
.dockerignore
.DS_Store
.vscode

docs
test
coverage
node_modules

Dockerfile
Makefile
README.md

envvars*

lazy
lazyd
lazy-dev
lazy-noelk
lazy-dev-direct

# Ignore lazy.yaml and related - image shouldn't contain them as they need to be specified at runtime.
lazy.yaml
eslint-rules.yaml

env*
