.git
.gitignore
.dockerignore
.DS_Store
.vscode

test
coverage
node_modules

Dockerfile
Makefile
README.md

envvars*

lazy
lazyd
lazy-dev

# Ignore local lazy.yaml - we will copy the production one when building the image.
lazy.yaml
