LAZY_DOCKER_REPOSITORY_AUTH_USERNAME=
LAZY_DOCKER_REPOSITORY_AUTH_PASSWORD=
LAZY_DOCKER_REPOSITORY_AUTH_EMAIL=
GITHUB_CLIENT_ID=
GITHUB_CLIENT_SECRET=
# HACK: The token should be read from github-access engine
GITHUB_API_TOKEN=
